$padding-horizontal-mobile: 100px;
$padding-horizontal-sm:150px;
$padding-horizontal-md:200px;
$padding-horizontal:250px;
$dark:#151744;
$dark-grey: #92929d;
$green: #30904d;
$black: #4c4d5e;
$ligth-grey: #f6f6f6;
$blue: #282b57;
