@import "styles/variaveis";
@import "styles/breakpoints";

.menu {
  display: flex;
  justify-content: space-between;
  padding: 20px $padding-horizontal;
  @media (max-width: $desktop_xsm) {
    padding: 20px $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 20px $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 20px $padding-horizontal-md;
  }
}

.cardapio {
  padding: 50px $padding-horizontal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  &__textos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;

    &__img {
      display: flex;
      width: 600px;
      height: 300px;
      border-radius: 5%;
    }

    &__frase {
      max-width: 50%;
      font-size: 4rem;
      color: rgb(58, 49, 49);
    }
  }

  &__filtros {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  @media (max-width: $desktop_xsm) {
    padding: 50px $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 50px $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 50px $padding-horizontal-md;
  }
}

